@media (max-width: 500px) {
    *{
        font-size: 0.8rem;
    }
}
@media (max-width: 450px) {
    *{
        font-size: 0.7rem;
    }
}
@media (max-width: 400px) {
    *{
        font-size: 0.5rem;
    }
}